<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAR BOOK</title>
    <link rel="stylesheet" href="../styles/home-style.css">
</head>
<body>

<header>
    <h1> Welcome in Bar Book</h1>

</header>
<nav>
    <ul>
        <li><a href="../views/whiskey.html">Whyskey</a>
            <ul>
                <li><a href="../views/bourbon.html">Bourbon</a></li>
                <li><a href="../views/malt.html">Malt</a></li>
                <li><a href="../views/irish.html">Irish</a></li>
                <li><a href="../views/scotch.html">Scotch</a></li>
            </ul>
        </li>
        <li><a href="../views/vodka-articles.html">vodka</a></li>
        <li><a href="#">Gin</a></li>
        <li><a href="#">Rum</a></li>
        <li><a href="#">Tequila</a></li>
        <li><a href="#">Coktails</a>
            <ul>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Classic Cocktails</a></li>

            </ul>
        </li>
        <li><a href="">Another...</a></li>
    </ul>
</nav>
</body>
</html>