<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAR BOOK</title>
    <link rel="stylesheet" href="../styles/home-style.css">
</head>
<body>

<header>
    <h1> Welcome in Bar Book</h1>

</header>
<nav>
    <ul>
        <li><a href="#">Whyskey</a>
            <ul>
                <li><a href="#">Malt</a></li>
                <li><a href="#">Bourbon</a></li>
                <li><a href="#">Irish</a></li>
                <li><a href="#">Scotch</a></li>
            </ul>
        </li>
        <li><a href="#">Vodka</a></li>
        <li><a href="#">Gin</a></li>
        <li><a href="#">Rum</a></li>
        <li><a href="#">Tequila</a></li>
        <li><a href="#">Coktails</a>
            <ul>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Classic Cocktails</a></li>

            </ul>
        </li>
        <li><a href="">Another...</a></li>
    </ul>
</nav>
</body>
</html>