<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAR BOOK</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

<header>
        <h1 class="opacity"> Welcome in Bar Book</h1>
             <form class="form opacity">
                 <div class="forms">
                     <div class="name">
                         <label for="name">Name</label>
                         <input type="text" id="name" placeholder="Your Name" required="required">
                     </div>
                     <div class="password">
                         <label for="password">Password</label>
                         <input type="password" id="password" placeholder="Your Password" required="required">
                     </div>
                 </div>


                <button class="submit" type="submit">ENTER</button>
                <button class="register" type ="button"><a href="register.html">Register Now!</a></button>

            </form>

    </header>


</body>
</html>