
* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/whyskey-background.jpg") no-repeat;
    background-size: cover;
    font-size: 14px;
}

main {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 85%;
    background-color: white;
    border-radius: 10px;
}
div {
  clear: both;
  overflow: hidden;
}

article {
    width: 70%;
    float: right;
    display: inline-block;
    margin: 1% 1%;
    margin-left: 4%;
    padding-bottom: 5%;
}

aside.top {
  float: right;
}

article > p {

    width: 100%;
    text-align: justify;
    font-size: 1.1em;
}

article > h1 {
    font-size: 3.2em;
    padding: 2% 0;
}

img {
    display: inline-block;
    float: left;
    width: 35%;
    padding: 1%;
    margin-right: 1%;
    border: 1px solid rgba(109, 39, 9, 0.4);
}

.right {
    float: right;
    margin-top: 1%;
    margin-left: 1%;
    padding: 1%;
    border: none;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both; height: 0;
}
.top {
    border: 3px solid black;
    float: left;
    width: 18%;
    margin: 3%;
    margin-top:10%;
    background-color: rgba(228, 227, 36, 0.45);
    border-radius: 20px;
    opacity: 0.8;
}
.top > ul {
    padding: 5%;
    text-transform: capitalize;
    font-size: 2.2em;
}
.top > ul li {
    list-style-type: none;
    padding: 4%;
    border-bottom: 3px solid #170b06;
    transition: padding 0.5s;
}
.top > ul li:hover {
    font-size: 1.3em;
    padding:13%;

}
.top > ul li a {
    text-decoration: none;
    padding-left: 7%;
    color: #ffffff;
}

.top > ul li a:hover {
    color: rgba(205, 124, 7, 0.87);
    cursor: pointer;
    font-weight: bold;
}
