@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
    margin: 0;
    padding: 0;
}

html {
    background: url("../images/main-cover.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    position: relative;
    font-size: 14px;
}

h1 {
    letter-spacing: 4px;
    font-family: 'Lobster', sans-serif;
    opacity: 0.5;
    font-size: 6.6em;
    color: white;
    text-align: center;
    margin: 20px 0;
}

nav {
    position: fixed;
    right: 0;
    bottom: 25px;
    left: 0;
    text-align: center;
}

nav ul {
    display: inline-block;
}

nav ul li {
    float: left;
    position: relative;
    display: block;
    margin-right: 30px;

}

nav ul li:hover > ul {
    display: inline-block;
}

nav ul li a {
    font-family: 'Lobster', sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2.5em;
}

nav ul li ul {
    display: none;
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 250px;
}

nav ul li ul li {
    margin-right: 0;
    display: block;
    position: static;
    float: none;
    text-align: left;
}

nav a {
    display: block;
    opacity: 0.5;
}

nav a:hover {
    cursor: pointer;
    opacity: 1;
}
