
* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/whyskey-background.jpg") no-repeat;
    background-size: 100% 100%;
    font-size: 14px;
}

main {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 85%;
    background-color: white;
    border-radius: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

section {
    display: inline-block;
}

section article a {
    color: #000;
    text-decoration: none;
}
section article > p {
    float: left;
    width: 100%;
    text-align: justify;
    font-size: 1.1em;
}
section article p a {
    color: rgba(109, 39, 9, 0.4);
    text-decoration: none;
}

div {
    display: inline-block;
    float: left;
    width: 70%;
    margin: 1% 1%;
    margin-left: 4%;
}
h1 {
    color: black;
    font-size: 3.2em;
    padding: 2% 0;
}

img {
    display: inline-block;
    float: left;
    width: 35%;
    padding: 1%;
    margin-right: 1%;
    border: 1px solid rgba(109, 39, 9, 0.4);
}

.right {
    float: right;
    margin-top: 1%;
    margin-left: 1%;
    padding: 1%;
    border: none;
}



.top {
    float: left;
    background-color: rgba(207, 207, 0, 0.44);
    border: 3px solid black;
    border-radius: 20px;
    width: 18%;
    margin: 3%;
    margin-top:10%;
    opacity: 0.8;
}

.top > ul {
    box-sizing: border-box;
    padding: 5%;
    text-transform: capitalize;
    font-size: 2.2em;
}

.top > ul li {
    list-style-type: none;
    padding: 4%;
    border-bottom: 3px solid #170b06;
}

.top > ul li a {
    text-decoration: none;
    padding-left: 7%;
    color: #ffffff;
}

.top > ul li a:hover {
    color: #cb872f;
    cursor: pointer;
    font-weight: bold;
}

