
* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/forzen2.jpg") no-repeat;
    background-size: 100% 100%;
    font-size: 14px;
}

main {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 85%;
    background-color: white;
    border-radius: 10px;
}

article {
    width: 70%;
    float: left;
    display: inline-block;
    margin: 1% 1%;
    margin-left: 4%;
    padding-bottom: 5%;
}
article > p {

    width: 100%;
    text-align: justify;
    font-size: 1.1em;
}

article > h1 {
    font-size: 3.2em;
    padding: 2% 0;
}

img {
    display: inline-block;
    float: left;
    width: 35%;
    padding: 1%;
    margin-right: 1%;
    border: 1px solid rgba(50, 26, 203, 0.4);
}

.right {
    float: right;
    margin-top: 1%;
    margin-left: 1%;
    padding: 1%;
    border: none;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both; height: 0;
}
.top {
    float: left;
    width: 18%;
    margin: 3%;
    margin-top:10%;
    background-color: rgba(86, 168, 207, 0.45);
    border-radius: 20px;
    opacity: 0.8;
}
.top > ul {
    padding: 5%;
    text-transform: capitalize;
    font-size: 2.2em;
}
.top > ul li {
    list-style-type: none;
    padding: 4%;

    transition: padding linear 0.4s;
}
.top > ul li a {
    text-decoration: none;
    padding-left: 7%;
    color: #ffffff;
}
.top ul li:hover {
    padding-bottom: 20%;
    cursor: pointer;
}

.top > ul li a:hover {
    color: rgba(140, 135, 203, 0.87);
    cursor: pointer;
    font-weight: bold;

}

