
* {
    margin: 0;
    padding: 0;
}

body
{
    z-index: 5;
    background: url("../images/whyskey-background.jpg") no-repeat ;
    background-size: cover;
    font-size: 14px;
}
main  {
    background-color: white;
}
h1  {
    color: #blue;
}
main  {
    z-index: 10;
    background: url("../images/white.jpg") no-repeat;
    background-size: cover;
    width: 80%;
    margin: 0 auto;
}
